.Reviews {
   padding: 0 100px;
   margin-top: 100px;
}

.Reviews-Content {
   margin-bottom: 60px;
}

.Reviews-Content h2 {
   font-size: 34px;
   margin-bottom: 20px;
}

.Reviews-Content p {
   font-size: 16px;
   line-height: 1.6;
   font-family: Arial, Helvetica, sans-serif;
}

.Reviews-Container {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 13px;
}

@media screen and (max-width: 1200px) {
   .Reviews {
      padding: 0 45px;
      margin-top: 80px;
   }
}

@media screen and (max-width: 900px) {
   .Reviews {
      padding: 0 35px;
      margin-top: 60px;
   }

   .Reviews-Content p {
      font-size: 14px;
      line-height: 1.6;
   }
}

@media screen and (max-width: 600px) {
   .Reviews {
      padding: 0 20px;
   }

   .Reviews-Content h2 {
      text-align: center;
      font-size: 30px;
   }

   .Reviews-Content p {
      text-align: center;
      font-size: 13px;
      line-height: 1.6;
   }

   .LineBreak {
      display: none;
   }
}