.Reviews-Container-Video {
   position: relative;
}

.Reviews-Video-Carousel {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 13px;
   scroll-behavior: smooth;
   overflow-x: scroll;
   scroll-snap-type: x mandatory;
   height: 350px;
}

.First-Review-Card {
   flex: 1 0 32.5%;
   flex-basis: calc(33.33% - 10px);
   position: relative;
   overflow: hidden;
   scroll-snap-align: start;
   cursor: grab;
   border-radius: 15px;
   background-color: #353535;
   padding: 35px 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: Arial, Helvetica, sans-serif;
}

.First-Review-Card-Title {
   font-size: 16px;
   font-weight: normal;
}

.First-Review-Card-Rating {
   font-size: 40px;
   background: linear-gradient(to right, #29e2e8, #507df4);
   padding: 6px 12px;
   font-family: "Krona One", sans-serif;
   border-radius: 10px;
   margin-top: 13px;

}

#First-Star {
   font-size: 23px;
   color: gold;
}

.First-Review-Card-Stars {
   display: flex;
   flex-direction: row;
   margin-top: 13px;
   justify-content: space-between;
}

.First-Review-Card-RatingCount {
   margin-top: 13px;
}

.Reviews-Video-Carousel::-webkit-scrollbar {
   display: none;
}

.Next, 
.Prev {
   position: absolute;
   top: 50%;
   z-index: 2;
   cursor: pointer;
   background-color: #919191a5;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   transform: translateY(-60%);
   font-size: 18px;
}

.Prev {
   left: 0.5%;
}

.Next {
   right: 0.5%;
}

@media screen and (max-width: 1200px) {
   .Reviews-Video-Carousel {
      height: 300px;
   }
}

@media screen and (max-width: 1030px) {
   .First-Review-Card {
      flex: 1 0 50%;
      flex-basis: calc(50% - 10px);
   }
}

@media screen and (max-width: 600px) {
   .Reviews-Video-Carousel {
      height: 290px;
   }

   .First-Review-Card {
      flex: 1 0 100%;
      padding: 35px 30px;
   }
}